POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=b2c_db_user
POSTGRES_PASSWORD=b2c_db_password
POSTGRES_DB=b2c_db

JWT_SECRET=supersecretkey_change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

B2B_TO_B2C_KEY=secret-b2b-b2c-key

# B2B
B2B_URL=http://host.docker.internal:8000